.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin-bottom: 16px;
}

.menu a:hover {
  color: rgba(255, 255, 255, 0.678);
}

.sections {
  list-style-type: none;
  margin: 64px 32px;
  padding: 0;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.menu {
  position: fixed;
  top: 0;
  right: -80vw;
  height: 100vh;
  background-color: var(--color-red);
  width: 80vw;
  max-width: 300px;
  z-index: 101;
  transition: right 0.5s ease-in-out;
  overflow: auto;
}

.show {
  right: 0;
}

.veil {
  background-color: var(--transparency-black);
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.showVeil {
  animation-duration: 0.5s;
  animation-name: fadeInVeil;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.hideVeil {
  animation-duration: 0.5s;
  animation-name: fadeOutVeil;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

@keyframes fadeInVeil {
  0% {
    top: 0;
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    top: 0;
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOutVeil {
  0% {
    top: 0;
    display: block;
    opacity: 1;
  }

  99% {
    opacity: 0;
    top: 0;
    display: block;
  }

  100% {
    display: none;
    top: -100vh;
    opacity: 0;
  }
}