.link {
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-black);
}

.image {
  width: 100%;
  transition: 0.3s;
  display: initial;
  margin: 0;
  pointer-events: none;
  border-radius: 2px;
}

.tags {
  display: flex;
  gap: 8px;
  margin: 8px 0 0;
}

.tag {
  text-transform: uppercase;
}

.title {
  padding-right: 16px;
}


