.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--color-red);
  max-height: calc(100vh - 80px);
}

.image {
  height: calc(100vh - 64px);
  width: 100%;
  display: block;
  position: relative;
  max-width: 1780px;
}

@media (max-width: 500px) {
  .image {
    height: calc(40vh - 64px);
  }
}
