.image {
  width: 40%;
}

.container {
  display: flex;
  align-items: center;
  margin: 128px 64px;
}

.texts {
  text-align: justify;
  margin-left: 64px;
  width: 40%;
}

.title {
  margin: 0 0 16px;
}

@media (max-width: 1100px) {
  .image {
    width: 100%;
  }

  .container {
    flex-direction: column-reverse;
    margin: 64px;
  }

  .texts {
    margin: 32px 0;
    width: auto;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 64px 16px;
  }

  .texts {
    margin: 16px 0;
  }
}
