.container {
  margin: 0;
}

.title {
  text-transform: uppercase;
  margin: 0 0 8px 0;
  padding-left: 64px;
}

.episodes {
  position: relative;
  display: flex;
  gap: 16px;
  padding: 0 64px;
  overflow: auto;
}

.episodes > * {
  max-width: calc(100% / 5);
}

.episodes::-webkit-scrollbar {
  display: none;
}

@media (max-width: 500px) {
  .title,
  .episodes {
    padding: 0 16px;
  }
}

@media (max-width: 1200px) {
  .episodes > * {
    min-width: calc(100vw / 3);
    max-width: auto;
  }
}

@media (max-width: 800px) {
  .episodes > * {
    min-width: calc(100vw / 2);
  }
}
