:root {
  --font-family-nunito-sans: 'NunitoSans', 'sans-serif';
  --font-family-cormorant-garamond: 'CormorantGaramond', 'sans-serif';
  --font-bold: 600;
  --font-regular: 400;
  --font-light: 300;
}

