.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 24px 64px;
}

.socialMedias {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  justify-content: flex-end;
}

.socialMedia svg {
  height: 24px;
  width: 24px;
}

@media (max-width: 500px) {
  .footer {
    padding: 24px 16px;
  }
}