.footer {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 32px 64px;
}

.sections {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  display: flex;
}

.subsections {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.subsection {
  margin-bottom: 8px;
}

@media (max-width: 500px) {
  .footer {
    padding: 32px 16px;
  }
}